body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  color: white;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c6ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
